/* src/css/BookCard.css */
.book-card {
  position: relative;
  width: 500px;  /* Increased from 300px */
  height: 400px; /* Increased from 400px */
  background-color: #1a1a1a;
  border-radius: 12px; /* Slightly increased for better proportion */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.book-card-content {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.book-cover-container {
  height: 70%;
  overflow: hidden;
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.book-card:hover .book-cover {
  transform: scale(1.05);
}

.book-info {
  padding: 15px;
  background: linear-gradient(to top, #000000, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.book-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #a0a0a0;
}

.info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.info-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease-in;
}



.book-card:hover .info-button {
  opacity: 1;
}



@media (max-width: 768px) {
  .book-card {
    width: 220px;
    height: 330px;
  }

  .book-title {
    font-size: 1rem;
  }

  .book-author {
    font-size: 0.8rem;
  }

  .info-button {
    opacity: 1;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .book-card {
    width: 160px;
    height: 240px;
  }

  .book-info {
    padding: 10px;
  }

  .book-title {
    font-size: 0.9rem;
  }

  .book-author {
    font-size: 0.7rem;
  }
}