/* src/css/Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  }
  

  
  .nav-links {
    display: flex;
    flex: 2;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #3291ff;
  }
  
  .nav-actions {
    display: flex;
    flex:.5;
    align-items: center;
    gap: 15px;
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
  }
  
  .icon-button:hover {
    color: #3291ff;
  }
  
 
 

  .sign-in-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .sign-in-button::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1);
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .sign-in-button:hover{
    color: #000;
    background-color: white;
    }
  
  .sign-in-button:hover::before {
    opacity: 1;
  }

  .logo {
    /* display: flex; */
    flex: .5;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .logo::before {
    content: '';
    position: absolute;
    width: 45%;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1);
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .logo:hover::before {
    opacity: 1;
  }
  
  .profile-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .profile-link::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1);
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .profile-link:hover::before {
    opacity: 1;
  }
  